
body {
    background: #eef3f7;
    font-family: "Poppins", Arial, sans-serif;
}
.whole {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

/* welcome dashboard */

.welcome {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.welcome h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #2b475c;
}
.welcome h4 {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
    font-weight: normal;
}

/* login + register */

.form-login,
.form-register {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login form,
.form-register form {
    background: #ffffff;
    padding: 30px;
    width: 450px;       
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-register .form-name {
    display: flex;
    gap: 10px;
}
.form-register .form-name .contents {
    flex: 1;
}
.form-register .form-name .contents label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.form-register .form-name .contents input {
    width: 90%;
}
.form-login label,
.form-register label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.form-login input,
.form-register input {
    width: 95%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-login button,
.form-register button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-login p,
.form-register p {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}
.form-login button:hover,
.form-register button:hover {
    background: #0056b3;
}

/* dashboard */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
}
.header .logo {
    display: flex;
    align-items: center;
    font-size: 34px;
    font-weight: bold;
    color: rgba(126, 173, 202, 1);
}
.header .logo img{
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
}
.header .logout {
    background-color: rgba(126, 173, 202, 1);
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
.header .logout a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.header .logout:hover {
    background-color: rgba(126, 173, 202, 1);
}


/* addItem */
.addItem {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.addItem form {
    display: flex;
    gap: 15px;     
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.addItem form label {
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    margin-left: 20px;
}
.addItem input,
.addItem select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
    width: 200px;
}
.addItem button {
    padding: 10px;
    background: #4c90b5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
    margin-left: 15px;
    width: 100px;
}
.addItem button:hover {
    background: #356d87;
}

/* table design */
.Inventory{
    width: 100%;
    margin-top: 40px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.itemTitle {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
    background-color:rgb(92, 141, 172) ;
}
th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color:rgb(137, 173, 195);
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td button {
    background: #4c90b5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    transition: .3s;
}
td button:hover {
    background: #356d87;
}

td a {
    padding: 6px 12px;
    background: #d9534f;
    color: white !important;
    border-radius: 5px;
    transition: .3s;
}
td a:hover {
    background: #b0413e;
    text-decoration: none;
}

/* editPopUp */

.editModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.editModal.show {
    display: flex;
}
.editItem {
    background: white;
    margin: 0;
    padding: 25px 25px;
    width: 90%;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
}
.editItem h2 {
    text-align: center;
    margin-bottom: 20px;
}
.editItem form{
    display: flex;
    flex-direction: column;
}
.editItem label{
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: bold;
}
.editItem input,
.editItem select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #bbb;
    box-sizing: border-box;
}
.editItem button[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    background-color: rgba(126, 173, 202, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}
.editItem button[type="submit"]:hover {
    background-color:rgba(126, 173, 202, 1);
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: #000;
}

/* footer */

footer {
    text-align: center;
    padding: 10px;
    background: #ffffff ;
    color: rgb(104, 102, 102);
}

